html {
  scroll-behavior: smooth;
}


.dark-theme, 
.dark-theme section,
.dark-theme .tabs,
.dark-theme .tile,
.dark-theme select,
.dark-theme table {
  background-color: #242424;
}
.dark-theme .icon,
.dark-theme span,
.dark-theme p, 
.dark-theme h1,
.dark-theme h2,
.dark-theme strong,
.dark-theme select,
.dark-theme th,
.dark-theme td,
.dark-theme abbr,
.dark-theme table thead th {
  color: white;
}


#header {
  text-decoration: none;
}

th
{
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 max-width: 100px;
}

/* td {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
} */

table {
  table-layout: auto;
  width: 100%;
  display: table;
  max-width: 500px;
  border-collapse: collapse;
}

input[type=text] {
  float: left;
  padding: 10px;
  width: 300px;
  border: 1px solid lightgray;
  color: black;
}

.icon-rtl {
  background-image: url(img/magnifying-glass-solid.svg);
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-size: 8%;

}

.btcImg {
  height: 30%;
  width: 30%;
  padding-right: 10px;
}